@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    font-family: 'Bai Jamjuree', sans-serif;
}

#bgHeader {
    background-image: url('./images/bg-header-mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.attribution {
    font-size: 16px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    #bgHeader {
        background-image: url('./images/bg-header-desktop.png');
    }
}